/*================ 
Tag Line Container 
================*/
.tag-line-wrapping-container {
    height: 70vh;
    overflow: hidden;
    justify-content: center;
}

.tag-line-container {
    justify-content: space-between;
    align-items: center;
}

.tag-line-container .tag-line {
    width: 50%;
}

.tag-line-container .tag-line .big-heading-1 {
    line-height: 1.25;
}

.tag-line-container .tag-line br {
    display: none;
}

.tag-line-container .image-container {
    width: 45%;
    padding: 0;
}

.tag-line-container .tag-line p.text-sub-heading:nth-of-type(3) {
    margin-top: 0;
}

/* ============ */
/* Experimental */
/* ============ */
.tag-line-container .tag-line br {
    display: block;
}

.tag-line-container .tag-line span {
    color: var(--clr-prm-orange);
    font-size: 4.1rem;
    line-height: 0.3;
}
/* ^^^^^^^^^^^^ */
/* Experimental */
/* ^^^^^^^^^^^^ */

@media only screen and (max-width: 1650px) { 
    .tag-line-container .tag-line {
        width: 55%;
    }

    .tag-line-container .image-container {
        width: 45%;
    }
}

@media only screen and (max-width: 1400px) {
    .tag-line-container .tag-line br {
        display: block;
    }

    .tag-line-container .tag-line span {
        font-size: 4.1rem;
        line-height: 0.3;
    }

    .tag-line-container .tag-line {
        width: 50%;
    }

    .tag-line-container .image-container {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) { 
    .tag-line-wrapping-container {
        height: auto
    }

    .tag-line-container {
        flex-direction: column-reverse;
    }

    .tag-line-container .tag-line {
        align-items: center;
        width: 80%;
    }

    .tag-line-container .image-container {
        width: 60%;
    }

    .tag-line-container .tag-line br {
        display: none;
    }

    .tag-line-container .tag-line span {
        color: var(--clr-prm-orange);
        font-size: 3.6rem;
        line-height: 0.3;
    }

    .tag-line-container .tag-line p.text-sub-heading {
        width: 90%;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .tag-line-container .tag-line {
        width: 85%;
    }

    .tag-line-container .image-container {
        width: 65%;
    }
}

@media only screen and (max-width: 668px) {
    .tag-line-container .tag-line {
        width: 90%;
    }

    .tag-line-container .image-container {
        width: 75%;
    }

    .tag-line-container .tag-line br {
        display: block;
    }

    .tag-line-container .tag-line p.big-heading-1 {
        text-align: left;
        width: 100%;
        line-height: 1.1;
    }

    .tag-line-container .tag-line p.text-sub-heading {
        text-align: left;
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .tag-line-container .tag-line {
        width: 95%;
    }

    .tag-line-container .image-container {
        width: 85%;
    }

    .tag-line-container .tag-line p.big-heading-1 {
        line-height: 1;
    }
}

@media only screen and (max-width: 450px) {
    .tag-line-container .tag-line {
        width: 100%;
    }

    .tag-line-container .image-container {
        width: 95%;
    }
}

/*===================== 
Photo Gallery Container 
=====================*/
.photo-gallery-wrapping-container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.photo-blur-container {
    position: absolute;
    height: 100%;
    width: 15%;
    filter: blur(1.7rem);
    background-color: var(--clr-txt-white);
    z-index: 1;
}

.photo-blur-container:nth-of-type(1) {
    left: -115px;
}

.photo-blur-container:nth-of-type(2) {
    right: -115px;
}

.photo-gallery-container {
    z-index: 0;
    align-items: center;
}

.photo-gallery-container .heading-container {
    align-items: center;
    justify-content: center;

    margin-bottom: 1.5rem;
}

.photo-gallery-container .photo-gallery {
    width: 90%;
}

.photo-gallery-container .photo-gallery.slider-for {
    width: 63%;
}

.photo-gallery-container .photo-gallery.slider-nav {
    width: 155%;
}

.photo-gallery-container .photo-gallery.slider-for img {
    margin: 1rem;
    padding: 1em;
    border-radius: 0.7rem;
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
}

.photo-gallery-container .photo-gallery.slider-nav img {
    margin: 0.7rem;
    box-shadow: none;
    border-radius: 0.7rem;
    width: 45%;
}

@media only screen and (max-width: 1024px) {
    .photo-gallery-container .photo-gallery.slider-for {
        width: 85%;
    }
}

@media only screen and (max-width: 668px) {
    .photo-gallery-container .heading-container {
        width: 90%;
    }

    .photo-gallery-container .photo-gallery.slider-for {
        display: none;
    }

    .photo-gallery-container .photo-gallery.slider-nav {
        width: 120%;
    }
}

@media only screen and (max-width: 550px) {
    .photo-gallery-container .heading-container {
        width: 95%;
    }

    .photo-gallery-container .heading-container p {
        width: 100%;
        text-align: center;
    }

    .photo-gallery-container .photo-gallery.slider-nav {
        width: 120%;
    }
}

@media only screen and (max-width: 450px) {
    .photo-gallery-container .heading-container {
        width: 100%;
    }

    .photo-gallery-container .photo-gallery.slider-nav {
        width: 130%;
    }

    .photo-gallery-container .photo-gallery.slider-nav img {
        margin: 0.15rem;
    }
}

@media only screen and (max-width: 400px) {
    .photo-gallery-container .photo-gallery.slider-nav {
        width: 135%;
    }
}

/*===============
Reviews Container 
===============*/
.reviews-container {
    align-items: center;
}

.reviews-container .review {
    width: 70%;
}

.reviews-container .review {
    background-color: var(--clr-prm-orange);
    border-radius: 0.7rem;
    padding: 2em;
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
}

.reviews-container .review .review-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 10ch;
}

.reviews-container .review .reviewer-name {
    margin-top: 1.5rem;
}

.reviews-container .review .source {
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}

.reviews-container .review .source a {
    margin: 0;
    font-size: 1rem;
    color: var(--clr-prm-black);
    text-decoration: underline;
}

.reviews-container .review .star-ratings i.fas.fa-star {
    color: var(--clr-prm-white);
}

.reviews-container .bootstrap .carousel-indicators {
    bottom: -30px;
}

.reviews-container .bootstrap .carousel-indicators button {
    background-color: var(--clr-txt-orange);
    box-shadow: none;
    opacity: 0.3;
}

.reviews-container .bootstrap .carousel-indicators button.active {
    background-color: var(--clr-txt-orange);
    box-shadow: none;
    opacity: 1;
}

.reviews-container .bootstrap button.carousel-control-prev,
.reviews-container .bootstrap button.carousel-control-next {
    width: 7%;
    height: 100%;
    box-shadow: none;
}

.reviews-container .bootstrap button.carousel-control-prev span {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.reviews-container .bootstrap button.carousel-control-next span {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.reviews-container .review-us button {
    background: var(--clr-prm-white);
    border-color: var(--clr-prm-orange);
    border-width: 3px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

@media only screen and (max-width: 1200px) {
    .reviews-container .review {
        width: 80%;
    }
}

@media only screen and (max-width: 1024px) {
    .reviews-container .review {
        width: 95%;
    }

    .reviews-container .bootstrap button.carousel-control-prev {
        left: -25px;
    }

    .reviews-container .bootstrap button.carousel-control-next {
        right: -25px;
    }
}

@media only screen and (max-width: 668px) {
    .reviews-container .heading-container {
        width: 90%;
    } 

    .reviews-container .review {
        width: 97.5%;
    }
}

@media only screen and (max-width: 550px) {
    .reviews-container .heading-container {
        width: 95%;
    }

    .reviews-container .heading-container p {
        width: 100%;
        text-align: center;
    }

    .reviews-container .bootstrap,
    .reviews-container .bootstrap .carousel-inner {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .reviews-container .review {
        padding: 1.5em
    }

    .reviews-container .review .review-description {
        margin-bottom: 0.5rem;
    }

    .reviews-container .review .reviewer-name {
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .reviews-container .heading-container {
        width: 100%;
    }

    .reviews-container .review {
        padding: 1em
    }
}

/*====================
Social Media Container 
====================*/
.social-media-container {
    align-items: center;
}

.social-media-container .image-container {
    width: 40%;
    position: relative;
}

.social-media-container .image-container .social-media-logos-container {
    width: 20%;
    position: absolute;
    top: 6.5rem;
    right: 1.5rem;
}

.social-media-container .image-container,
.social-media-container .image-container .social-media-logos-container a {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    .social-media-container .image-container {
        width: 45%;
    }

    .social-media-container .image-container .social-media-logos-container {
        width: 22%;
        top: 5.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    .social-media-container .image-container {
        width: 50%;
    }

    .social-media-container .image-container .social-media-logos-container {
        top: 5rem;
    }
}

@media only screen and (max-width: 868px) {
    .social-media-container .image-container {
        width: 55%;
    }
}

@media only screen and (max-width: 668px) {
    .social-media-container .image-container {
        width: 60%;
    }
}

@media only screen and (max-width: 550px) {
    .social-media-container .image-container {
        width: 75%;
    }

    .social-media-container .image-container .social-media-logos-container {
        width: 23%;
        top: 4rem;
        right: 0.9rem;
    }
}

@media only screen and (max-width: 450px) {
    .social-media-container .image-container {
        width: 90%;
    }

    .social-media-container .image-container .social-media-logos-container {
        width: 24%;
        top: 3.7rem;
        right: 0.9rem;
    }
}

@media only screen and (max-width: 350px) {
    .social-media-container .image-container {
        width: 95%;
    }
}

/*============
Menu Container 
============*/
.menu-container {
    align-items: center;
}

.menu-container .menu-category-container,
.menu-container .menu-drinks-category-container {
    width: 100%;
}

.menu-container .menu-category-container .heading-container,
.menu-container .menu-drinks-category-container .heading-container {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.menu-container .menu-category-container .heading-container p.text-sub-heading {
    margin-top: 0.1rem;
}

.menu-container .menu-category-container .menu-dish-container,
.menu-container .menu-drinks-category-container .menu-dish-container {
    justify-content: space-between;
    width: 100%;
}

.menu-container .menu-category-container .menu-dish-container:first-child,
.menu-container .menu-drinks-category-container .menu-dish-container:first-child {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.menu-container .menu-category-container .menu-dish-container .dish,
.menu-container .menu-drinks-category-container .menu-dish-container .dish {
    justify-content: flex-start;
    width: 45%;

    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish p.text-heading {
    font-size: 1.5rem;
}

.menu-container .menu-category-container .menu-dish-container .dish p.text-heading,
.menu-container .menu-drinks-category-container .menu-dish-container .dish p.text-heading {
    margin-left: 0;
    text-align: left;
}

.menu-container .menu-category-container .menu-dish-container .dish p.text-sub-heading {
    margin-top: 0.5rem;
}

.menu-container .menu-category-container .menu-dish-container :first-child,
.menu-container .menu-drinks-category-container .menu-dish-container :first-child {
    margin-left: 0;
    padding-left: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container,
.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container,
.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price {
    width: 100%;
    justify-content: space-between;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price .text-sub-heading {
    margin: 0 0.5rem;
    padding: 0 0.5em;
    margin-left: 0;
    padding-left: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price :first-child {
    margin-right: 0.5rem;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price {
    position: relative;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price :last-child::after {
    content: '';
    height: 70%;
    width: 3px;

    position: absolute;
    right: 0;

    /* Half of the left-over space from height */
    top: 15%;

    background-color: var(--clr-prm-black);
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price .text-sub-heading.last-of-row::after {
    width: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-on {
    display: none;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-off {
    display: flex;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price span.text-sub-heading {
    font-weight: normal;
}

.menu-container .menu-extras-category-container {
    width: 70%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    border: 3px solid var(--clr-prm-orange);
    border-radius: 0.7rem;
}

.menu-container .menu-extras-category-container .menu-dish-container {
    width: 90%;

    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.menu-container .menu-extras-category-container .menu-dish-container .dish {
    width: 45%;

    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.menu-container .menu-category-container  .menu-dish-container .dish-price-container .price .extra-comment,
.menu-container .menu-extras-category-container .menu-dish-container .dish .extra-comment {
    font-size: 1rem;
    margin: 0 !important;
    padding: 0 !important;
}

.menu-container .menu-extras-category-container .menu-dish-container .dish ul li:first-child {
    margin-top: 0;
}

.menu-container .menu-extras-category-container .menu-dish-container .dish ul li:last-child {
    margin-bottom: 0;
}

.menu-container .menu-extras-category-container .menu-dish-container .dish ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.menu-container .menu-extras-category-container .heading-container p {
    display: inline-block;
    margin-right: 1rem;
}

.menu-container .menu-extras-category-container .menu-dish-container,
.menu-container .menu-extras-category-container .menu-dish-container .dish .price-container .price  {
    justify-content: space-between;
}

.menu-container .menu-extras-category-container .menu-dish-container .dish .price-container .price .text-sub-heading {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink {
    width: 100%;
    justify-content: space-between;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink:first-child p.text-heading,
.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink:first-child p.text-sub-heading {
    margin-top: 0;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink .text-sub-heading {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink .text-sub-heading.juice-types {
    font-size: 1rem;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink.fresh-juice .text-heading {
    margin-top: 0.7rem;
    margin-bottom: 0rem;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink.fresh-juice div .text-sub-heading {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

@media only screen and (max-width: 1650px) {
    .menu-container .menu-extras-category-container {
        width: 80%;
    }
}

@media only screen and (max-width: 1400px) {
    .menu-container .menu-extras-category-container {
        width: 85%;
    }
}

@media only screen and (max-width: 1200px) {
    .menu-container .menu-extras-category-container {
        width: 90%;
    }

    .menu-container .menu-extras-category-container .menu-dish-container {
        width: 95%;
    }

    .menu-container .menu-category-container  .menu-dish-container .dish-price-container .price .extra-comment,
    .menu-container .menu-extras-category-container .menu-dish-container .dish .extra-comment {
        font-size: 0.7rem;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-on {
        display: flex;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-off {
        display: none;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price .text-sub-heading.toggle-last-of-row::after {
        width: 0%;
    }
}

@media only screen and (max-width: 668px) {
    .menu-container .menu-extras-category-container,
    .menu-container .menu-extras-category-container .menu-dish-container {
        width: 100%;
    }

    .menu-container .menu-extras-category-container .menu-dish-container .dish {
        width: 50%;
    }

    .menu-container .menu-drinks-category-container .menu-dish-container,
    .menu-container .menu-category-container  .menu-dish-container {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-container .menu-drinks-category-container .menu-dish-container .dish,
    .menu-container .menu-category-container .menu-dish-container .dish {
        width: 100%;
        margin-left: 0;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
        padding-left: 0;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }

    .menu-container .menu-drinks-category-container .menu-dish-container .dish {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-container .menu-drinks-category-container .menu-dish-container .dish .drink {
        margin-top: 0.5rem;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-on {
        display: none;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-off {
        display: flex;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price .text-sub-heading.toggle-last-of-row::after {
        width: 3px;
    }
}

@media only screen and (max-width: 550px) {
    .menu-container .menu-extras-category-container .menu-dish-container .dish {
        margin-left: 0;
        margin-right: 0;

        padding-left: 0;
        padding-right: 0;
    }

    .menu-container .menu-category-container  .menu-dish-container .dish-price-container .price .extra-comment,
    .menu-container .menu-extras-category-container .menu-dish-container .dish .extra-comment {
        display: block;
        font-size: 0.9rem;
    }

    .menu-container .menu-drinks-category-container .menu-dish-container .dish p.text-heading {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 450px) {
    .menu-container .menu-extras-category-container .menu-dish-container {
        flex-direction: column;
    }

    .menu-container .menu-extras-category-container .menu-dish-container .dish .extra-comment {
        display: inline-block;
        font-size: 1rem;
    }

    .menu-container .menu-extras-category-container .menu-dish-container .dish {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu-container .menu-extras-category-container .menu-dish-container .dish ul li:last-child {
        margin-bottom: 1.1rem;
    }

    .menu-container .menu-extras-category-container.menu-extras .menu-dish-container .dish ul li:last-child {
        margin-bottom: 0;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-on {
        display: flex;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price.display-toggle-off {
        display: none;
    }

    .menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price .text-sub-heading.toggle-last-of-row::after {
        width: 0;
    }
}