/*==================
Scroll to Top Button
===================*/
.scroll-to-top-btn-container {
    position: relative;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.scroll-to-top-btn-container button {
    position: fixed;
    right: 3%;
    bottom: 3%;
    background-color: var(--clr-prm-white);
    border: none;
    box-shadow: none;
}
/* 
.scroll-to-top-btn-container button:hover {
    background-color: var(--clr-txt-black);
} */

.scroll-to-top-btn-container button i {
    color: var(--clr-prm-orange);
}

/*================ 
Tag Line Container 
================*/
.tag-line-wrapping-container {
    height: 70vh;
    overflow: hidden;
    justify-content: center;
}

.tag-line-container {
    justify-content: space-between;
    align-items: center;
}

.tag-line-container .tag-line {
    width: 50%;
}

.tag-line-container .tag-line .big-heading-1 {
    line-height: 1.25;
}

.tag-line-container .tag-line br {
    display: none;
}

.tag-line-container .image-container {
    width: 50%;
    padding: 0;
}

.tag-line-container .tag-line p.text-sub-heading:nth-of-type(3) {
    margin-top: 0;
}

@media only screen and (max-width: 1650px) { 
    .tag-line-container .tag-line {
        width: 55%;
    }

    .tag-line-container .image-container {
        width: 45%;
    }
}

@media only screen and (max-width: 1400px) {
    .tag-line-container .tag-line br {
        display: block;
    }

    .tag-line-container .tag-line span {
        color: var(--clr-prm-orange);
        font-size: 4.1rem;
        line-height: 0.3;
    }

    .tag-line-container .tag-line {
        width: 50%;
    }

    .tag-line-container .image-container {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .tag-line-wrapping-container {
        height: auto
    }

    .tag-line-container {
        flex-direction: column-reverse;
    }

    .tag-line-container .tag-line {
        align-items: center;
        width: 80%;
    }

    .tag-line-container .image-container {
        width: 60%;
    }

    .tag-line-container .tag-line br {
        display: none;
    }

    .tag-line-container .tag-line span {
        color: var(--clr-prm-orange);
        font-size: 3.6rem;
        line-height: 0.3;
    }

    .tag-line-container .tag-line p.text-sub-heading {
        width: 90%;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .tag-line-container .tag-line {
        width: 85%;
    }

    .tag-line-container .image-container {
        width: 65%;
    }
}

@media only screen and (max-width: 668px) {
    .tag-line-container .tag-line {
        width: 90%;
    }

    .tag-line-container .image-container {
        width: 75%;
    }

    .tag-line-container .tag-line br {
        display: block;
    }

    .tag-line-container .tag-line p.big-heading-1 {
        text-align: left;
        width: 100%;
        line-height: 1.1;
    }

    .tag-line-container .tag-line p.text-sub-heading {
        text-align: left;
        width: 100%;
    }
}

@media only screen and (max-width: 550px) {
    .tag-line-container .tag-line {
        width: 95%;
    }

    .tag-line-container .image-container {
        width: 85%;
    }

    .tag-line-container .tag-line p.big-heading-1 {
        line-height: 1;
    }
}

@media only screen and (max-width: 450px) {
    .tag-line-container .tag-line {
        width: 100%;
    }

    .tag-line-container .image-container {
        width: 95%;
    }
}

/*===================== 
Photo Gallery Container 
=====================*/
.photo-gallery-container {
    align-items: center;
}

.photo-gallery-container .heading-container {
    align-items: center;
    justify-content: center;

    margin-bottom: 4rem;
}

.photo-gallery-container .photo-gallery {
    width: 90%;
}

.photo-gallery-container .photo-gallery.slider-for {
    width: 60%;
}

.photo-gallery-container .photo-gallery.slider-nav {
    width: 100%;
}

.photo-gallery-container .photo-gallery.slider-for img {
    margin: 1rem;
    padding: 1em;
    border-radius: 0.7rem;
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
}

.photo-gallery-container .photo-gallery.slider-nav img {
    margin: 0.7rem;
    box-shadow: none;
    border-radius: 0.7rem;
    width: 50%;
}

/*============
Menu Container 
============*/
.menu-container {
    align-items: center;
}

.menu-container .menu-category-container,
.menu-container .menu-drinks-category-container {
    width: 100%;
}


.menu-container .menu-category-container .menu-dish-container,
.menu-container .menu-drinks-category-container .menu-dish-container {
    justify-content: space-between;
    width: 100%;
}

.menu-container .menu-category-container .menu-dish-container .dish,
.menu-container .menu-drinks-category-container .menu-dish-container .dish {
    justify-content: flex-start;
    width: 45%;
}

.menu-container .menu-category-container .menu-dish-container .dish p.text-heading,
.menu-container .menu-drinks-category-container .menu-dish-container .dish p.text-heading {
    margin-left: 0;
    text-align: left;
}

.menu-container .menu-category-container .menu-dish-container :first-child,
.menu-container .menu-drinks-category-container .menu-dish-container :first-child {
    margin-left: 0;
    padding-left: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container,
.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container,
.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price {
    width: 100%;
    justify-content: space-between;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price .text-sub-heading {
    margin: 0 0.5rem;
    padding: 0 0.5em;
    margin-left: 0;
    padding-left: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price :first-child {
    margin-right: 0.5rem;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price {
    position: relative;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price :last-child::after {
    content: '';
    height: 70%;
    width: 3px;

    position: absolute;
    right: 0;

    /* Half of the left-over space from height */
    top: 15%;

    background-color: var(--clr-prm-black);
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price .text-sub-heading.last-of-row::after {
    width: 0;
}

.menu-container .menu-category-container .menu-dish-container .dish .dish-price-container .price-col-container .price span.text-sub-heading {
    font-weight: normal;
}

.menu-container .menu-extras-category-container {
    width: 70%;
    align-items: center;
    border: 3px solid var(--clr-prm-orange);
    border-radius: 0.7rem;
}

.menu-container .menu-extras-category-container .menu-dish-container {
    width: 90%;
}

.menu-container .menu-extras-category-container .menu-dish-container .dish {
    width: 45%;
}

.menu-container .menu-extras-category-container .heading-container p {
    display: inline-block;
    margin-right: 1rem;
}

.menu-container .menu-extras-category-container .menu-dish-container,
.menu-container .menu-extras-category-container .menu-dish-container .dish .price-container .price  {
    justify-content: space-between;
}

.menu-container .menu-extras-category-container .menu-dish-container .dish .price-container .price .text-sub-heading {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink {
    width: 100%;
    justify-content: space-between;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink .text-sub-heading {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink.fresh-juice .text-heading {
    margin-top: 0.7rem;
    margin-bottom: 0rem;
}

.menu-container .menu-drinks-category-container .menu-dish-container .dish .drink.fresh-juice div .text-sub-heading {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

/*===============
Reviews Container 
===============*/
.reviews-container {
    align-items: center;
}

.reviews-container .reviews {
    width: 75%;
}

.reviews-container .reviews .review {
    background-color: var(--clr-prm-orange);
    border-radius: 0.7rem;
    padding: 2em;
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
}

.reviews-container .reviews .review .review-description {
    /* Only Shows 3 lines of review text */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 10ch;
}

.reviews-container .reviews .review .reviewer-name {
    margin-top: 1.5rem;
}

.reviews-container .reviews .review .source {
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}

.reviews-container .reviews .review .source a {
    margin: 0;
    text-decoration: underline;
}

.reviews-container .reviews .review .star-ratings i.fas.fa-star {
    color: var(--clr-prm-white);
}

.reviews-container .reviews button {
    box-shadow: none;
}

.reviews-container .reviews button.slick-prev.slick-arrow::before,
.reviews-container .reviews button.slick-next.slick-arrow::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.7rem;
    color: var(--clr-prm-black);
    opacity: 1;
}

.reviews-container .reviews button.slick-prev.slick-arrow {
    left: -2.5rem;
}

.reviews-container .reviews button.slick-next.slick-arrow {
    right: -2.5rem;
}

.reviews-container .reviews button.slick-prev.slick-arrow::before {
    content: "\f053";
 }

.reviews-container .reviews button.slick-next.slick-arrow::before {
   content: "\f054";
}

.reviews-container .review-us button {
    background: var(--clr-prm-white);
    border-color: var(--clr-prm-orange);
    border-width: 3px;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

/*====================
Social Media Container 
====================*/
.social-media-container {
    align-items: center;
}

.social-media-container .image-container {
    width: 40%;
    position: relative;
}

.social-media-container .image-container .social-media-logos-container {
    width: 20%;
    position: absolute;
    top: 6.5rem;
    right: 1.5rem;
}

.social-media-container .image-container,
.social-media-container .image-container .social-media-logos-container a {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    cursor: pointer;
}