/*=============
Nabar Container
=============*/
.side-navbar-wrapping-container,
.navbar-wrapping-container,
.navbar-container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    
    background-color: var(--clr-prm-orange);
}

.navbar-wrapping-container {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    --navbar-curve: 1.3rem;
    border-radius: 0 0 var(--navbar-curve) var(--navbar-curve);
    box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
}

.side-navbar-wrapping-container {
    display: block;
    height: 0;
    overflow-y: hidden;
    --navbar-curve: 1.3rem;
    border-radius: 0 0 var(--navbar-curve) var(--navbar-curve);
    background-color: var(--clr-prm-white);
    box-shadow: 0px 4px 7px rgb(0 0 0 / 25%);
}

.navbar-container {
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .side-nav-btn-container {
    display: none;
    margin: 0.3rem;
    padding: 0.3em;
}

/*------------
Logo Container
------------*/
.navbar-container .logo-container {
    width: 13%;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    cursor: pointer;
}

.navbar-container .logo-container img {
    width: 50%;
    --logo-name-gap: 0.15rem;
    margin-left: var(--logo-name-gap);
    margin-right: var(--logo-name-gap);
}

.navbar-container .logo-container img.logo {
    width: 40%;
}

.navbar-container .logo-container img.name {
    width: 60%;
}

@media only screen and (max-width: 1550px) {
    .navbar-container .logo-container {
        width: 15%;
    }
}

@media only screen and (max-width: 1350px) {
    .navbar-container .logo-container {
        width: 19%;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar-container .logo-container {
        width: 21%;
    }
}

@media only screen and (max-width: 850px) {
    .navbar-container .logo-container {
        width: 25%;
    }
}

@media only screen and (max-width: 768px) {
    /* .navbar-wrapping-container {
        border-radius: 0;
    } */

    .navbar-container {
        margin-bottom: 0;
        align-items: center;
        justify-content: space-around;
    }

    .navbar-container .logo-container {
        width: 25%;
    }

    .navbar-container .page-links-container {
        display: none;
    }

    .navbar-container .side-nav-btn-container {
        position: absolute;
        display: inline-block;

        right: 1.5%;
    }
}

@media only screen and (max-width: 658px) {
    .navbar-container .logo-container {
        width: 27%;
    }
}

@media only screen and (max-width: 550px) {
    .navbar-container .logo-container {
        width: 31%;
    }
}

@media only screen and (max-width: 450px) {
    .navbar-container .logo-container {
        width: 35%;
    }
}

@media only screen and (max-width: 411px) {
    .navbar-container .logo-container {
        width: 39%;
    }
}

/*------------------
Page Links Container
------------------*/
.navbar-container .page-links-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .page-links-container a,
.navbar-container .page-links-container .bootstrap .dropdown ul li a {
    font-size: 1.2rem;
    color: var(--clr-txt-white);
    letter-spacing: 1px;
}

.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul,
.navbar-container .page-links-container .bootstrap .dropdown ul {
    padding-left: 1em;
    padding-right: 1em;
    width: max-content;
}

.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul li,
.navbar-container .page-links-container .bootstrap .dropdown ul li {
    align-items: center;
    justify-content: flex-start;
}

.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul li img,
.navbar-container .page-links-container .bootstrap .dropdown ul li img {
    width: 30px;
    height: 30px;
}

.navbar-container .page-links-container :last-child {
    margin-right: 0;
    margin-left: 0.8rem;
}

.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul li a,
.navbar-container .page-links-container .bootstrap .dropdown ul li a,
.navbar-container .page-links-container .bootstrap .dropdown ul li:last-child {
    color: var(--clr-prm-black);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul li a,
.navbar-container .page-links-container .bootstrap .dropdown ul li a {
    margin-left: 0.3rem;
}

.navbar-container .page-links-container button {
    background-color: var(--clr-txt-orange);
    border-radius: 0.7rem;
    border: 2px solid var(--clr-prm-white);
}

.navbar-container .side-nav-btn-container button {
    border: none;
    box-shadow: none;
}

.navbar-container .side-nav-btn-container button i {
    /* background-color: var(--clr-txt-white); */
    color: var(--clr-txt-white);
}

.side-navbar-wrapping-container .page-links-container {
    position: relative;
    height: 0%;
    align-items: center;
    padding-top: 1em;
    margin-top: 0;
    background-color: var(--clr-prm-white);
    --navbar-curve: 1.3rem;
    border-radius: 0 0 var(--navbar-curve) var(--navbar-curve);
}

.side-navbar-wrapping-container .page-links-container :last-child {
    margin: 0.5rem 0.8rem;
}

.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul li {
    align-items: center;
    justify-content: flex-start;
}

.side-navbar-wrapping-container .page-links-container a,
.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul li a {
    color: var(--clr-txt-orange) !important;
    text-shadow: 0 3px 5px rgb(0 0 0 / 13%);
}

.side-navbar-wrapping-container .page-links-container a button {
    background-color: var(--clr-prm-orange);
    color: var(--clr-prm-white);
    border-color: var(--clr-txt-white);
}

.side-navbar-wrapping-container .page-links-container button {
    background-color: var(--clr-txt-orange);
    border-radius: 0.7rem;
    border: 2px solid var(--clr-prm-white);
}

.side-navbar-wrapping-container .page-links-container .bootstrap .dropdown ul li:last-child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.side-navbar-wrapping-container .page-links-container button.close-side-nav-btn {
    position: absolute;
    right: 3%;
    top: 3%;
    background-color: var(--clr-prm-white);
    color: var(--clr-prm-orange);
    border-color: var(--clr-txt-white);
    box-shadow: none;
}

.side-navbar-wrapping-container .page-links-container button.close-side-nav-btn i {
    color: var(--clr-txt-orange);
}